#hell { 
    text-align: center;
    width: 50%;
}




.HeaderMaster, .BoxMaster {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    height: max-content;
    
}


.footerMaster {
    margin-top: 50px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    height: max-content;
    background: rgb(203, 206, 212);
    background: linear-gradient(90deg, rgba(203, 206, 212, 0.8185399159663865) 84%, rgba(203, 206, 212, 0.6056547619047619) 100%);
}


#navbarContainer{

    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: steelblue;
    padding: 10px;

}

button{
    border-radius: 10px;
}

#mastercontainer{

    
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 8px;
    align-items: center;
    justify-content: center;
    /* background-color: green; */

}

#mandakasayam{
    background: whitesmoke;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
   
    padding: 10px;
    /* background-color: red; */
    border-radius: 10px;
    


}


#container{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
  
}

.lead{font-size: 1.25rem;
font-weight: 300;
}




.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;   
}

.modal-bin{
   
    width: 500px;
    height: 400px;
    background-color: white;
    text-align: center;
    padding: 50px;
    position: relative;
    
}



.form-button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-end ;
    gap: 10px;
}

.close {
    position:absolute;
    top: 0;
    right: 14px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
}

.shutdown {
    cursor: pointer;
    margin-right: 5px;
}